<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Results</title>
</head>
<body> 
    <h1>Movie Search Results for <%- movie_Title %>:</h1>

    <table>  
        <%- table_data %>
    </table>

    <hr>
    <div> Not what your looking for? <a href = '/'> Search Again!</a>
    </div>
    
</body>
</html>